@page
@model CRUDRazor.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var mod in Model.Customers)
            {
                <tr>
                    <td>@mod.Id</td>
                    <td>@mod.Name</td>
                    <td>
                        <button asp-page="/Edit" asp-route-id="@mod.Id" asp-page-handler="get">Edit</button>
                        <button type="submit" asp-page-handler="delete" asp-route-id=@mod.Id>Delete</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a asp-page="./Create">Create</a>
</form>

